sudo: required
language: ruby
rvm: 2.3.8
addons:
  postgresql: '10'
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10
env:
  global:
    - PGPORT=5433
services:
  - postgresql
install:
  - rvm use 2.3.8 --install
before_script:
  - RAILS_ENV=test bin/setup
script:
  - RAILS_ENV=test bin/test
deploy:
  provider: hephy
  controller: https://deis.prod.revelry.net
  app: lintron
  cli_version: v2.19.0
  username: '$DEIS_USERNAME'
  password: '$DEIS_PASSWORD'
  skip_cleanup: true
  on:
    branch: master
after_deploy:
  - ./deis run "bundle exec rake db:migrate" -a lintron
git:
  depth: false
